@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');
:root{
    --letra-titulo :"Kanit", sans-serif;
    --letra-secundaria:"Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    background: none; 
}

body{
    background-color: #edf4e9;
}
.botao_buscar{
    width: 4em;
    height: 2em;
    border-radius: 10px;
    background-color: #dae9d3 ;
    font-weight: 600;
}
.titulo{
    font-size: 3.5rem;
    text-align: center;
    font-family: var(--letra-titulo);
}
.resultado_cidade{
    width: 20em;
    height: 2em;
    border-radius: 10px;
    margin: 1em 0 1em 1em ;
}

img{
    width: 10rem;
}

.card_principal{
    margin: 0 2rem;
    width: 35vh !important;
    font-family: var(--letra-secundaria);
    font-weight: 700;
    font-style: normal;

}

.card_dias{
    margin: 2rem 0;
    font-family: var(--letra-secundaria);
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content:baseline;
    gap: 1rem;
}

.card_dia{
    background: #dae9d3;
    text-align: center;
    border-radius: 9px;
    width: 12rem;
    height: 19rem;
    box-shadow: 10px 5px 5px black;
    font-size: 1.4rem;
}
.dia_data{
    font-size: 2rem;
}

.card_dia:hover{
    scale:1.1 ;
}

@media screen and (max-width: 768px) {
    body{
        display: block;
    }
    .card_dias{
        display: block;
        width: 35vh;
        justify-content: center;
        margin:0 auto;
        gap: 1rem;
    }
    .card_principal{
        margin: 0 auto;
    }
    .card_dia{
        margin-top: 1rem;
    }
   
}